
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(173, 200, 211);
}


#foot {
  font-size: 2.5rem;
  font-family: 'Chathura';
  color: white;
}
